.container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: transparent;
  height: 100vh;
}

.img-back {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.title {
  color: aliceblue;
}

.table {
  position: absolute;
  left: 20%;
  text-align: center;
  background-color: beige;
  max-width: 1050px;
}

#cards {
  margin: 20px;
  padding-left: 20%;
}
